body{
    font-family: 'Papins', sans-serif;
}

.container__new{
    padding: 0px 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.container__new-second{
    padding: 0px 15px;
    max-width: 1300px;
    margin: 0 auto;
}

.shadow__navbar{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.btn{
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    width: 110px;
}

.btn__first{
    border: 2px solid black;

}

.btn__first:hover{
    transition: all .3s ease-in-out;
    background: #fff;
    color: black;
}

.pricing__btn-first{
    background-color: #0278ED;
}

.mode{
    background-color: rgb(39, 39, 42) ;
    color: #fff;
    text-decoration: none;
}

.mode-second{
    background-color: rgb(116, 116, 116) ;

}

.dark{
    display: block;
}

.sun{
    display: none;
}

.dark:hover{
    border-radius: 25px;
    transition: all .6s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.sun:hover{
    border-radius: 25px;
    transition: all .6s ease-in-out;
    box-shadow: rgb(175, 171, 171) 0px 30px 60px -12px inset, rgba(199, 199, 199, 0.3) 0px 18px 36px -18px inset;
}

.switch__btn__black{
    border: #000;
    width: 10px;
    height: 10px;
}

.modal{
    display: none;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
    background-color: #60606e;
    height: 400px;
    width: 500px;
    padding: 100px;  
    z-index: 50;  
    gap: 5px;
}

.modal__window{
    display: flex;
    flex-direction: column;
}

.modal__text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}